<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mobile Banking Service</title>
    <link rel="stylesheet" type="text/css" href="/css/mobile.css"/>
</head>
<body>
<div>
    <h1>&#x1f3e6; Account Summary</h1>

    <div class="content" th:if="data ne null">

        <div class="detail-line">
            <table class="table-account-summary">
                <tr class="pb-1"><td>Account No</td><td><span th:text="${data.accountNumber}">id</span></td></tr>
<!--                <tr class="pb-1"><td>Description</td><td><span th:text="${data.description}">name</span></td></tr>-->
                <tr class="pb-1"><td>Overdraft</td><td><span th:text="${data.overdraftFacility}">location</span></td></tr>
                <tr><td>Balance</td><td><span th:text="${data.balance}">location</span></td></tr>
            </table>
        </div>

        <footer>
            <form class="button-container" method="get" action="/mobile/accounts/transfers">
                <button type="submit">
                    <div class="symbol">&#8646;</div>
                    <div class="text">Transfers</div>
                </button>
            </form>

            <form class="button-container" method="get" action="/mobile/accounts">
                <button type="submit">
                    <div class="symbol">&#8630;</div>
                    <div class="text">Return</div>
                </button>
            </form>
        </footer>
    </div>

    <div th:if="accounts eq null">
        <div class="detail-line">
            <p>We could not find any Account information at this time</span></p>
        </div>
    </div>

</div>
</body>
</html>
