<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mobile Banking Service</title>
    <link rel="stylesheet" type="text/css" href="/css/mobile.css"/>
</head>
<body>

<div>
    <h1>&#x1f3e6; Transfers</h1>

    <div class="content">
        <div class="detail-line">
            <div>
                <div class="transfer-response-success">Success</div>

                <div class="transfer-response-success-detail"><span th:text="${response.response}">response</span></div>
            </div>
        </div>
    </div>
</div>

<footer>
    <form class="button-container" method="get" action="/mobile/accounts">
        <button type="submit">
            <div class="symbol">&#x1F4B0</div>
            <div class="text">Accounts</div>
        </button>
    </form>

    <form class="button-container" method="get" action="/mobile/accounts">
        <button type="submit">
            <div class="symbol">&#8630;</div>
            <div class="text">Return</div>
        </button>
    </form>
</footer>

</body>
</html>