<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ATM Withdrawal</title>
    <link href="https://fonts.googleapis.com/css?family=VT323&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/atm.css"/>
</head>
<body>
<div class="content">
    <h1>ATM Withdrawal: <span th:text="${accountNumber}">accountNumber</span></h1>

    <div th:if="data ne null">
        <table>
            <tr><th>Attribute</th><th>Value</th></tr>
            <tr><td>AccountNumber</td><td><span th:text="${data.accountNumber}">id</span></td></tr>
            <tr><td>Balance</td><td><span th:text="${data.balance}">location</span></td></tr>
        </table>

        <form class="mt-2" id="amount-form" action="#" th:action="@{/atm/accounts/{id}/withdraw(id=${accountNumber})}" th:object="${withdrawalRequest}" method="post">
            <div class="input-container">
                <span>Amount to withdraw:</span>
                <input autocomplete="off" class="input-field" id="amount-field" type="number" th:field="*{amount}">
            </div>
        </form>

        <div class="row stick-to-top-buttons">
            <div class="column">
                <button class="button" onclick="document.querySelector('#amount-form').submit()"></button>
                <span class="label">Submit</span>
            </div>

            <div class="column">
                <button class="button" onclick="submitWithValue(10)"></button>
                <span class="label">10</span>
            </div>

            <div class="column">
                <button class="button" onclick="document.querySelector('#amount-field').value = ''"></button>
                <span class="label">Reset</span>
            </div>

            <div class="column">
                <button class="button" onclick="submitWithValue(20)"></button>
                <span class="label">20</span>
            </div>

            <div class="column"></div>

            <div class="column">
                <button class="button" onclick="submitWithValue(50)"></button>
                <span class="label">50</span>
            </div>

            <form class="column" method="get" action="/menu.html">
                <button class="button" type="submit"></button>
                <span class="label">Return</span>
            </form>

            <div class="column">
                <button class="button" onclick="submitWithValue(100)"></button>
                <span class="label">100</span>
            </div>
        </div>
    </div>

    <div th:if="data eq null">
        <p>We could not find any Account information for ID:<span th:text="${accountNumber}">accountNumber</span></p>
    </div>
</div>

<script type="text/javascript">
    function submitWithValue(value) {
        document.querySelector('#amount-field').value = value;
        document.querySelector('#amount-form').submit();
    }
</script>
</body>
</html>
