<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ATM Withdrawal</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}"></link>
</head>

<h2>ATM Withdrawal: <span th:text="${accountNumber}">accountNumber</span></h2>

<div th:if="data ne null">
    <table>
        <th><tr>Attribute</tr><tr>Value</tr></th>
        <tr><td>AccountNumber</td><td><span th:text="${data.accountNumber}">id</span></td></tr>
        <tr><td>Balance</td><td><span th:text="${data.balance}">location</span></td></tr>
    </table>

    <form action="#" th:action="@{/atm/accounts/{id}/withdraw(id=${accountNumber})}" th:object="${withdrawalRequest}" method="post">
        <p>Amount to withdraw: <input type="text" th:field="*{amount}"></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Clear"/></p>
    </form>

    <form method="get" action="/menu.html">
        <button type="submit">Return</button>
    </form>
</div>



<div th:if="data eq null">
    <p>We could not find any Account information for ID:<span th:text="${accountNumber}">accountNumber</span></p>
</div>

</body>
</html>
